@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

<div @Kit.Toolbar.Default(MyItem)>
    Put your content here
</div>